[Discord]
key={insert key here!}

[Email]
to = username@gmail.com
smtp_username = username@gmail.com
smtp_server = smtp.gmail.com
smtp_port = 587
smtp_password = password

[Clustering]
# Messages that appear within the time period are grouped together
clustering_period = 60
