[Unit]
Description=A discord notification emailer

[Service]
Type=simple
WorkingDirectory=/home/pi/Documents/discord_notification_emailer/discord_notification_emailer
ExecStart=/usr/bin/python3.6 bot.py
Restart=always

[Install]
WantedBy=default.target
